{% extends "_base_user.html" %}
{% load bootstrap4 %}

{% block head-content %}

{% endblock %}
{% block body-content %}
<div class="user_onearea">
<h1 class="h1_title">로그인</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br/>
        <div class="btn_sets">
            <button id="btn_login" class="btn btn-outline-secondary" type="submit">로그인</button>
            <button id="btn_cancel" class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'book:best_seller' %}'">취소</button>
        </div>
    </form>
</div>
{% endblock %}