{% extends "_base_book.html" %}
{% load bootstrap4 %}

{% block head-content %}

{% endblock %}
{% block body-content %}
<div class="review_onearea">
    <h1 class="h1_title">리뷰 작성</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="btn_sets">
            <button class="btn btn-outline-secondary" type="submit">작성</button>
            <button class="btn btn-outline-secondary" type="reset">취소</button>
        </div>
    </form>
</div>
{% endblock %}